/* Yellow theme scope */
.theme-yellow {
  --color-ffffff: #ffffff;
  --color-000000: #000000;
  --color-e6f3ff: #e6f3ff;
  --color-fcfeff: #fcfeff;
  --color-7c838a: #7c838a;
  --color-b0bac3: #b0bac3;
  --color-f9ed32: #f9ed32;
  --color-f2d335: #f2d335;
  --color-d9bd32: #d9bd32;
  --color-c4c4c4: #c4c4c4;

  --radius-10: 10px;
  --radius-15: 15px;
  --radius-20: 20px;
  --radius-25: 25px;

  --shadow-0: 0 4px 4px rgba(0,0,0,0.25);

  --font-family-poppins: "Poppins", "Roboto", Arial, sans-serif;
  --font-family-roboto: "Roboto", Arial, sans-serif;
}
